<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= user[0].name %>
    </h1>
    <p>
        <%= user[0].email %>
    </p>
    <p>
        <%= user[0].phone %>
    </p>
    <a href="/users/<%= user[0].id %>/edit">Edit</a>
    <form action="/delete_users/<%= user[0].id %>" method="POST">
        <button type="submit">Delete</button>
    </form>

</body>

</html>